@charset 'utf-8';
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Merienda:wght@300..900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    /* background-image: linear-gradient(to left bottom, #65966B, #65966b57, white); */
    overflow-x: hidden;
}

.contato {
    background-color: rgba(255, 255, 255, 0.39);
    position: fixed;
    right: 15px;
    bottom: 20px;
    width: 100px;
    border-radius: 20px;
    text-decoration: none;
    color: white;
    text-shadow: 1px 1px 1px black;
    z-index: 9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.back_top {
    display: none;
    background-color: #65966b96;
    position: fixed;
    bottom: 15px;
    left: 15px;
    font-family: "Nanum Myeongjo", serif;
    font-weight: 800;
    font-style: normal;
    border: 0px solid white;
    z-index: 8;
    padding: 5px;
    border-radius: 10px;
    opacity: 80%;
}

.back_top:hover {
    background-color: #65966b;
    opacity: 100%;
    transform: scale(115%);
}


.contato:hover {
    transform: scale(110%);
    transition: ease-in-out;
    transition: 0.7s;
}

.div_cabecalho {
    background-color: #014419;
    width: 100%;
    color: white;
    text-align: center;
    font-size: 1.3em;
    padding-left: 20px;
    border: 1px inset white;
    position: fixed;
    z-index: 10;
    padding-right: 3%;
}

.box_header {
    margin: auto 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    text-shadow: 1px 1px 2px black;
}

.logo_header {
    width: 50px;
    border-radius: 50%;
}

.div_nav {
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.menu_nav {
    color: white;
    text-decoration: none;
    height: 30px;
    text-align: center;
    font-size: 0.7em;
}

.container_title {
    background-image: url(imagens/bgs/beautiful-pet-portrait-small-dog-cat.png);
    background-size: 65%;
    background-repeat: no-repeat;
    background-position: auto;
    background-position-y: 30%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.div_main {
    padding-top: 3rem;
    padding-right: 3%;
}


.main_title {
    border-radius: 20px;
    color: black;
    font-size: 6em;
    text-align: right;
    font-family: "Merienda", cursive;
    font-style: normal;
    animation-name: slide_title;
    animation-duration: 2s;
    animation-iteration-count: 1;
    margin-left: 60vw;
    margin-top: -10%;
}

@keyframes slide_title {
    from {
        transform: translateX(500px);
    }

    to {
        transform: translateX(0px);
    }
}

.sub_main_title {
    border-radius: 20px;
    padding: 20px;
    color:#014419;
    font-size: 2em;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 300;
    font-style: normal;
    animation-name: slide_title;
    animation-duration: 2s;
    animation-iteration-count: 1;
    text-shadow: 1px 1px 1px white;
    margin-left: 50vw;

}

.gif {
    width: 120px;
    animation-name: slide_title2;
    animation-duration: 3s;
    animation-iteration-count: 1;
}

@keyframes slide_title2 {
    from {
        transform: translateX(-500px);
    }

    to {
        transform: translateX(0px);
    }
}

.divisor {
    width: 200px;
    margin: 20px auto;
}



@keyframes slide_title {
    from {
        transform: translateX(500px);
    }

    to {
        transform: translateX(0px);
    }
}

.title_content {
    text-align: center;
    margin: 10px;
    color: rgb(0, 0, 0);
    font-size: 1.6em;
}

.section_text2 {
    background-color: #50eb652c;
    display: grid;
    height: 100%;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
}

span {
    color: #F24405;
    font-size: 1.9em;
}


.content_text2 {
    color: black;
    font-size: 1.5em;
    letter-spacing: 3px;
    text-align: center;
    line-height: 1.5em;
    margin: 20px;
}

.section_text3 {
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding-right: 5%;
    padding-left: 5%;
    margin-top: 3%;

}

.title_content3 {
    font-size: 2em;
    text-align: center;
    color: #035921;
}

.content_text3 {
    background-color: white;
    margin-top: 50px;
    font-size: 1.5em;
    width: 100%;
    letter-spacing: 2px;
    line-height: 1.5em;
    margin-bottom: 15px;
}

.objetivos {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    align-items: center;
    padding: 5%;
    gap: 30px;
}

.card_mvv {
    border-radius: 20px;
    text-align: center;
}


.title_content2 {
    text-align: center;
    font-size: 8em;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #014419;
}

li {
    text-decoration: none;
    list-style-type: none;
    line-height: 2em;
    font-size: 1.5em;
}

.depoimento {
    letter-spacing: 2px;
    margin-bottom: 15px;
}

.chamada {
    font-size: 1em;
    margin-bottom: 15px;
}

.btn {
    background-color: #65966b76;
    border-radius: 15px;
    padding: 5px;
    cursor: pointer;
}

.div_sede {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image_sede {
    width: 500px;
    border-radius: 20px;
}


.container_card2 {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.section_text4 {
    display: flex;
    justify-content: space-between;
    /* flex-direction: column; */
    margin-bottom: 20px;
    padding: 20px;
    margin: 5%;
}

.title_content4 {
    font-size: 4em;
    text-align: center;
    margin: 30px;
    letter-spacing: 0.2em;
    color: #F24405;
}

.sustentavel_icon {
    width: 500px;
    border-radius: 50%;
    margin: auto;
}

.ods {
    display: flex;
    justify-content: space-around;
    margin: 5%;
}

.ods_img {
    margin: auto;
    gap: 10px;
    width: 130px;
    border-radius: 10px;
}

.section_text5 {
    background-color: #50eb652c;
    margin-bottom: 20px;
    padding: 20px;
}

.container_card3 {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.title_mvv {
    font-size: 2em;
    margin: 15px;
}


.div_card_mvv {
    width: 400px;
    text-align: center;
    background-color: #a0f1aa;
    border: 1px solid black;
    border-radius: 20px;
    padding: 15px;
}


.slide_card {
    display: flex;
    width: 500px;
    height: 500px;
    overflow: hidden;
    margin: auto;
    flex: auto;
    position: static;
    z-index: 1;
}

@keyframes slide {
    0% {
        transform: translateX(-200%);
    }

    11% {
        transform: translateX(-100%);
    }

    21% {
        transform: translateX(-100%);
    }

    31% {
        transform: translateX(0%);
    }

    41% {
        transform: translateX(0%);
    }

    51% {
        transform: translateX(-100%);
    }

    61% {
        transform: translateX(-100%);
    }

    71% {
        transform: translateX(-200%);
    }

    100% {
        transform: translateX(-200%);
    }
}

.container_card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-right: 2%;
}

.image_section {
    width: 500px;
    margin: auto;
    border-radius: 20px;
    animation-name: slide;
    animation-duration: 15s;
    animation-iteration-count: infinite;
}

.div_footer {
    background-color: white;
    height: auto;
    width: 100%;
    margin-bottom: 0px;
    bottom: 0px;
    font-family: 'Times New Roman', Times, serif;
}

.logo_footer {
    width: 50px;
    margin: 20px;
}

.box_footer {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}


.div_card_footer {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin: 20px;
    border-radius: 20px;
    padding: 10px;
}

.box_nav {
    display: flex;
    gap: 20px;
    line-height: 1.5em;
}

.title_footer {
    color: black;
    text-align: center;
}

.menu_footer {
    text-decoration: none;
    color: black;
}

.icons {
    width: 30px;
}

@media (max-width:999px) {

    body {
        overflow-x: hidden;
    }


    .div_cabecalho {
        padding: 0px;
        display: flex;
        justify-content: space-between;
        /* gap: 9px; */
        width: 100%;
        font-size: 0.8em;
    }

    .div_nav {
        width: 100%;
    }

    .contato {
        position: fixed;
        width: 80px;
        font-size: 0.8em;
        height: 80px;
        margin-right: 20px;
    }

    .back_top {
        font-size: 0.7em;
        width: 90px;
        height: 20px;
    }

    .container_title {
        background-image: url(imagens/bgs/english-cream-golden-retriever-isolated.png);
        background-size: 100%;
        background-position-y: top;
        /* background-position-x: 15vw; */
        height: auto;
    }

    .main_title {
        font-size: 3.8em;
        width: 100%;
        text-align: center;
        margin: 60% 80px 10px auto;
    }

    .sub_main_title {
        font-size: 1.8em;
        text-align: center;
        margin: auto;
        color: #F24405;
    }

    .box_header {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 10px;
        margin-left: 5px;
    }

    .logo_header {
        display: none;
    }

    .slide_card {
        width: 100%;
    }

    span{
        font-size: 1.5em;
    }

    .content_text {
        font-size: 1.3em;
        display: block;
        overflow: auto;
    }


    .content_text2 {
        font-size: 1.3rem;
        text-align: center;
    }


    .section_text2 {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        margin-top: 100px;
        text-align: center;
    }

    .section_text3 {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .div_sede{
        width: 100%;
    }

    .image_sede {
        width: 100%;
    }

    .content_text3 {
        font-size: 1.3em;
        line-height: 1.3em;
        margin-bottom: 30px;
    }

    .objetivos {
        display: flex;
        flex-direction: column;
    }

    .container_card3 {
        display: flex;
        flex-direction: column;
    }

    .section_text4 {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .sustentavel_icon {
        width: 90%;
        border-radius: 0%;
        border: 2px solid red;
    }

    .title_content4 {
        font-size: 2em;
    }

    .ods {
        flex-wrap: wrap;
        gap: 10px;
    }


    .div_footer {
        width: 100%;
        height: 100%;
    }

    .cards_footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .box_nav {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

}