@charset 'utf-8';
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Amatic+SC:wght@400;700&family=Cinzel:wght@400..900&family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Courgette&family=Dancing+Script:wght@400..700&family=Edu+TAS+Beginner:wght@400..700&family=Great+Vibes&family=Gruppo&family=Khand:wght@300;400;500;600;700&family=Major+Mono+Display&family=Nanum+Myeongjo&family=Poiret+One&family=Rajdhani:wght@300;400;500;600;700&family=Satisfy&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(to left bottom, #65966B, #65966b57, white);

}

.contato {
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 50px;
    border-radius: 50%;
}

.doe {
    position: fixed;
    right: 17px;
    bottom: 70px;
    width: 50px;
    text-decoration: none;
    color: white;
    text-align: center;
    text-shadow: 1px 1px 1px black;
}

.contato:hover {
    transform: scale(120%);
    transition: 0.3s;
}

.container_title{
    background-image: url(imagens/bgdog.jpg);
    background-size: cover;
    background-position: 20%;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.div_cabecalho {
    background-color: #65966B;
    width: 100%;
    color: white;
    text-align: center;
    font-size: 1.3em;
    padding-left: 20px;
    border: 1px inset white;
    position: fixed;
}

/* .menu_burguer_div{
    display: none; 
    cursor: pointer;
}

.menu_burguer{
    width: 32px;
    height: 2px;
    background-color: white;
    margin: 8px;
} */

.box_header {
    margin: auto 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    text-shadow: 1px 1px 2px black;

}

.logo_header {
    width: 50px;
    border-radius: 50%;
}

.div_nav {
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.menu_nav {
    color: white;
    text-decoration: none;
    height: 30px;
    text-align: center;
}

.div_main{
    padding-top: 3rem;
}

.main_title {
    color: white;
    font-size: 5em;
    text-align: center;
    margin: 20px;
    text-shadow: 2px 2px 2px black;
    font-family: "Nanum Myeongjo", serif;
    font-weight: 400;
    font-style: normal;
    animation-name: slide_title;
    animation-duration: 2s;
    animation-iteration-count: 1;
}

@keyframes slide_title {
    from {
        transform: translateX(500px);
    }

    to {
        transform: translateX(0px);
    }
}

.sub_main_title {
    background-image: linear-gradient(to left bottom, #65966B, #65966bcb, white);
    border-radius: 20px;
    padding: 20px;
    color: black;
    font-size: 3em;
    text-align: center;
    margin: 10px;
    box-shadow: 0px 2px 6px black;
    font-family: "Cormorant Garamond", serif;
    font-weight: 300;
    font-style: normal;
    animation-name: slide_title;
    animation-duration: 2s;
    animation-iteration-count: 1;
    text-shadow: 1px 1px 1px black;
}

.gif {
    width: 120px;
    animation-name: slide_title2;
    animation-duration: 3s;
    animation-iteration-count: 1;
}

@keyframes slide_title2 {
    from {
        transform: translateX(-500px);
    }

    to {
        transform: translateX(0px);
    }
}

.divisor {
    width: 200px;
    margin: 20px auto;
}

.container {
    margin-top: 40px;
    background-color: #65966b57;
    height: 80vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;
    margin: 20px;
    border: 1px inset white;
    box-shadow: 3px 3px 3px black;
    overflow: hidden;
    animation: slide_title ease-in-out;
    animation-timeline: view();
    animation-range: cover 0% cover 50%;
}

#ID3D {
    width: 500px;
    border-radius: 20px;
    margin: 10px;
    box-shadow: 1px 1px 3px white;
    animation-name: slide_title;
    animation-duration: 2s;
    animation-iteration-count: 1;
}

@keyframes slide_title {
    from {
        transform: translateX(500px);
    }

    to {
        transform: translateX(0px);
    }
}

.section_text {
    background-color: #50eb656f;
    width: 90%;
    height: 100%;
    border-radius: 20px;
    border: 3px inset white;
    padding: 20px;
    overflow: hidden;
}

.title_content {
    text-align: center;
    margin: 10px;
    color: white;
    text-shadow: 1px 1px 2px black;
    font-size: 3em;
}

.content_text {
    height: 50%;
    color: black;
    /* text-shadow: 1px 1px 2px white; */
    font-size: 1.8rem;
    letter-spacing: 3px;
}

.content_text2 {
    color: black;
    /* text-shadow: 1px 1px 2px white; */
    font-size: 2em;
    letter-spacing: 3px;
}

.section_text2 {
    background-color: #50eb656f;
    display: grid;
    height: 80vh;
    grid-template-columns: 1fr 1fr;
    border-radius: 20px;
    margin: 20px;
    border: 3px inset white;
    padding: 20px;
    box-shadow: 2px 2px 2px black;
}

.container_card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.image_section {
    width: 400px;
    border-radius: 20px;
}

.div_footer {
    background-color: black;
    height: 300px;
    margin-bottom: 0px;
}

.box_footer {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;

}

.cards_footer {
    display: flex;
    flex-direction: row;
}

.div_card_footer {
    display: flex;
    flex-direction: column;
    background-color: #65966b8a;
    width: 200px;
    height: 200px;
    margin: 20px;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 2px 2px 2px black;

}

.box_nav {
    display: flex;
    flex-direction: column;
    line-height: 1.5em;
}

.title_footer {
    color: white;
    text-align: center;
    text-shadow: 1px 1px 2px black;

}

.menu_footer {
    text-decoration: none;
    color: white;

}

.div_icons {}

.icons {
    width: 30px;
}

@media (max-width:999px) {

    body{
        overflow-x: hidden;
    }


    .div_cabecalho {
        padding: 0px;
        display: flex;
        justify-content: space-between;
        gap: 10px;
        width: 100%;
        font-size: 0.8em;
    }

    /* .menu_burguer_div{
        display: block;
        position: absolute;
        top: 0vh;
        right: 0;
        width: 50vw;
        height: 92vh;
        background-color: #23232e;
        transform: translateX(100%);
    }

    .menu_burguer_div.active{
        transform: translateX(0%);
    } */

    .div_nav {
        width: 100%;
        margin: 5px;
    }

    .contato {
        position: fixed;
    }

    .main_title {
        font-size: 4em;
    }

    .box_header {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 10px;
        margin-left: 5px;
    }

    .logo_header {
        margin-right: 10px;
        display: none;
    }

    .div_nav {
        gap: 20px;
    }

    .container_title{
        background-size: cover;
        background-repeat: no-repeat;
        background-position-x: 50% ;
    }

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .section_text {
        width: 95%;
        height: 100%;
    }

    .content_text {
        font-size: 1.3em;
        display: block;
        overflow: auto;
    }

    .content_text2 {
        font-size: 1.3rem;
    }

    #ID3D {
        width: 95%;
    }

    .section_text2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
    }

    .image_section {
        width: 90%;
        margin: auto;
    }

    .div_footer {
        height: 100%;
    }

    .cards_footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

}